html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  --color-primary: #ec5600;
  --color-primary-dark: #db5000;
  --color-secondary: #4d592b;
  --color-secondary-dark: #414536;
  --color-secondary-light: #adb29e;
  --color-secondary-bright: #e2e4d9;
  --color-section-bg: #f5f5f1;
  --color-text: #172126;
  --color-footer-bg: #2c2f24;

  --radius: 12px;
}


body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif ;
  font-size: 1.125rem;
  line-height: 1.4;
  color: var(--color-text);
}


 h1, h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 400; 
    line-height: 1;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 500; 
    line-height: 1.2;
  }

  h3 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size:1.5rem;
    line-height: 1.2;
  }


section {
    display: flex;
    justify-content: center;
    padding-block: 50px;

  }

.container {
   max-width: 540px;
   justify-content: center;
   padding-inline: 20px;
}

a, p, li {
   font-family: "DM Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
}

.tlacitko {
  display: inline-block;
  padding-block: 15px;
  padding-inline: 30px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  background-color: var(--color-primary);
  border-radius: 100vw;
}
  
  .tlacitko:hover {
    background-color:  var(--color-primary-dark)
  }
 

a{
  text-decoration: none;
}


img {
  width: 100%;
}

/*HLAVIČKA*/
.hlavicka {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.container .logo {
  height: 35px;
  margin-bottom: 10px;
}


.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


.menu .nav__link {
 display:inline-block;
 padding-block: 10px;
 padding-inline: 15px;
 font-size: 1.25rem;
 font-weight: 500;
 border-radius: 100vw ;
 white-space: nowrap;
/* flex: 1 1 calc(100% / 4); */
 text-align: center;
}
 
 .menu a {
 color: var(--color-secondary-dark);
 }

 .nav__link:hover {
  background-color: var(--color-secondary-bright);
 }


/*Hero banner*/
.herobanner {
  position: relative;
  padding-block: 100px;
  background-image: url(images/hero.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-text);
  text-align: center;
  padding: 100px 20px;
  font-size: 1.125rem;
}


/*Jídelní lístek*/
.jidelnilistek .container h2{
margin-bottom: 40px;
}

.container .karticky {
  align-items: center;
}

.karta {
  border: 1px solid var(--color-secondary-bright);
  border-radius: var(--radius);
  text-align: center;
  padding-block: 30px;
  padding-inline: 20px;
  margin: 30px;
  min-width: 400px;
  max-width: 40%;
  align-items: center;
}

.karta > * {
  margin-bottom: 20px;
  
}

.karta h3 {
  color: var(--color-secondary);
}

.karta a{
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
}

.karta a:hover {
  text-decoration: underline;
}
.jidelnilistek .container h2{
    text-align: center;
    
}

.karta img{
  width: 40px;
  height: 40px;
}


/*-Rozvoz jídla*/

.rozvoz_text > * {
  margin-bottom: 40px;
}

 .rozvoz_text ul {
  list-style: none;
  margin:0;
  padding:0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

li img {
  width: 40px;   
  height: 40px;
  margin-right: 10px;

}

.rozvoz .container picture {
  border-radius: 30%;
}

.rozvoz_text > div {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-secondary-dark);
}

/*Patička*/
.paticka {
background-color: var(--color-footer-bg);
color: var(--color-secondary-light);
padding-left: 60px;
justify-content: flex-start;
display: flex;
flex-wrap: wrap;
height: 650px;
}

.logo2 {
  padding-bottom: 20px;
  width: 100%;

 }

 .paticka p {
  padding-bottom: 20px;
 }

 .paticka a {
  color: var(--color-secondary-bright);
  text-decoration: underline;
  padding-bottom: 20px;
  }

  .paticka ul {
      padding-bottom: 20px;
    }

.odkazy_copyright  {
  list-style: none;
}

.paticka .container {
  flex-shrink: 1;
}

.logo_adresa, .odkazy_copyright {
  flex-shrink: 1;
}



/*TABLET*/
@media (min-width: 768px) {
  h1{
    font-size: 4rem;
  }

  h2{
    font-size: 3rem;
  }

  section {
     padding-block: 80px;
  }

    .container {
      max-width:1100px;
    }

    .hlavicka .container {
      display: flex;
      justify-content: space-between;
    }

    .tlacitko {
      padding-block: 20px;
      padding-inline: 40px;
      font-size: 1.125rem;
    }

    .menu .nav__link{
      padding-block: 10px;
      padding-inline: 20px;
      width:auto;
    }

    .container .logo {
      margin-bottom: 0;
    }


    .hlavicka .container {
      justify-content: space-between;
      align-items: center;
    }

    /*hero banner*/
    .herobanner {
      padding-block: 120px;
      font-size: 1.25rem;
      background-size: cover;
    }

    .herobanner .container p {
      margin-block: 30px;
    }


    /*Jídelní lístek*/
    .karticky{
      display: flex;
      flex-wrap: wrap;
    }
    .karta{
      width: calc(100% /2);
      }
    

    /*Rozvoz*/
    .rozvoz {
      background-color: var(--color-section-bg);
    }

    .rozvoz .container {
    display: flex;
    flex-wrap: wrap;
    }

    picture {
      max-width: calc(50% - 30px);
      height:auto;
      padding-right: 30px;
      align-items: center;
    }

    .rozvoz_text {
      max-width: calc(50% - 30px);
      text-align: center;
      padding-left: 30px;
    }

    }


/*DESKTOP*/
@media (min-width: 1100px) {
   h1{
    font-size: 5rem;
   }

   h2{
    font-size: 3.5rem;
   }

  .container {
    padding-block: 80px;
    max-width:1100px;
    padding-inline: 10px;
   }

  .tlacitko {
    padding-block: 20px;
    padding-inline: 40px;
    font-size: 1.125rem;
  }
  
  .container .logo {
    height: 45px;
  }

  .menu .nav__link {
    padding-block: 15px;
    padding-inline: 30px;
  }

   /*hero banner*/
  .herobanner {
    padding-block: 150px;
    background-size: cover;
  }

  .karticky {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .karta{
    width: calc(100% /4);
    }
  

}